NEXT_PUBLIC_CONTRACT_ID=CAC4VTKE2RQLXFP2F3DZLJJIHHK6N2VJQ2F7YVYHH6VJPQXVF3BQES3
NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org